# Nice debugging print
snippet deb
	(println ">>>> ${1:}: " $1)${2}
snippet debug
	(debug ">>>> ${1:}: " $1)${2}
snippet require
	(:require '[$1 :as $2])
snippet use
	(:use '$1)
snippet shebang
	#!/usr/bin/env lein-exec-p
