snippet context
	context "${1}",
	  ${2}
snippet setup
	setup ->
	  ${1}
snippet should
	should "${1}", ->
	  ${2}
snippet deb
	console.log("**** ${1:var}", $1)${2}
snippet log
	console.log(${1})${2}
