snippet br
	border: 1px solid red;
snippet bg
	border: 1px solid green;
snippet w
	width: 
snippet h
	height: 
snippet rgba
	rgba(${1}, ${2}, ${3}: 
snippet margin
	margin: 
snippet margin-left
	margin-left: 
snippet margin-right
	margin-right: 
snippet margin-top
	margin-top: 
snippet margin-bottom
	margin-bottom: 
snippet font
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
