snippet should
	should(function() {
	  ${1}
	})
snippet log
	console.log($1);
snippet try
	try {
	  $1
	} catch (exception) {
	  $2
	}
snippet dlog
	console.log("$1:", $1);
#snippet f
#	function($1) {
